.Main-body{
    width: 100%;
    height:615px;
    background:linear-gradient(white,#D3D8E8);

}
body{
    margin:0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
left-section{
    width:80%;
    float:left;
   
     
}
.image{
    width: 300px;
    padding-top: 175px;
    margin-left: 155px;
}
.para{
    font-size: 29px;
    line-height: 29px;
    margin-left: 180px;
    margin-top: -10px; 
   
}
.box{
    width: 400px;
    height:351px;
    border-radius: 20px;
    background: #fff;
    margin-top: -230px;
    margin-left: -50px;
    

}
.right-section{
    width:40%;
    float: right;
}
.control{
    height:50px;
    width: 370px;
    border: 1px solid #dddfe2;
    font-family: inherit;
    color: #1d2129;
    background: #FFFFFF url;
    margin-top: 20px;
    border-radius: 10px ;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
   
}

.login{
    text-align: center;
    height:50px;
    width: 370px;
    border:none;
    background:#1877f2;
    font-size: 20px;
    line-height: 48px;
    margin-top: 20px;
    border-radius: 10px ;
    margin-left: 10px;
    margin-right: 10px; 
}
.f-pswd{
    text-align: center;
    color:black;
    font-family: 'segoe UI';
    font-size: 15px;
    border-radius: 5px;
    background-color: #fff;
    display: block;
    color: #1877f2;
    font-weight: bold;
    cursor: pointer;
}

button{
    border: none;
    background-color: #1877f2;
    color: white;
    margin: auto;
    width: 283px;
    display: block;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
   


}
.line{
    border-top: #1c1e21;
    margin-left: 25px;
    margin-right: 25px;
}

.bnt2{
    text-align: center;
    background-color: #42b72a;
}
.sublink {
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background: #fff;
    border-top: 1px solid #dddfe2;
    margin-top: 10px;
    padding-top: 15px;
    cursor: pointer;
    text-decoration: none;
    color: blue;
    direction: ltr;
    line-height: 1.34;
   
}
.sublink :hover{
    color: black;

}
.box1{
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.footer-cont{
    margin-left: 176px;
    color: #67788a;
    font-family: inherit;
    font-size: 12px;
    height: 8px;
    word-spacing: 4px;
    
   
}
.bnt3{
    width: 20px;
    height: 20px;
    background-color:black;

}
.footer-cont1{
    font-size: 12px;
    color: #67788a;
    font-family: inherit;
    line-height: 1.6;
    word-spacing: 10px;
    margin-left: 176px;
   
   
}
.new-line{
    
    margin-left: 176px;
    margin-right: 200px;
}
.footer-last{
    color: #737373;
    font-size: 11px;
    font-family: inherit;
    line-height: 1.34;
    margin-left: 176px;
}
.heloo{
    color: black;
}